# Godot-specific ignores
.godot/
*.translation

# OS-specific files
.DS_Store
Thumbs.db

# General temp/log files
*.tmp
*.log
*.log.*

# Ignore dynamically generated links inside addons/
addons/*
!addons/.gitkeep
!addons/.addonignore
!addons/anomalyAcesAddonManager/
addons/anomalyAcesAddonManager/temp/*
!addons/anomalyAcesAddonManager/temp/.gdignore
